body {
  background-color: floralwhite;
}

img {
  width: 50%;
  display: block;
  margin: auto;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
}

.baker-details {
  flex-basis: 50%;
}

.baker-breads {
  flex-basis: 50%;
}

.show-wrapper {
  display: flex;
  justify-content: space-between;
}
